name: Modbus Connected Home
version: "0.1.0"
slug: modbus_ch_dio
description: A custom Home Assistant Add-on to run a Python script.
icon: images/icon.png
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
url: https://github.com/RauanYbrash/Modbus-Connected-Home.git
startup: application
stage: stable
init: false

map:
  - "config:rw"
  - "ssl:ro"
  - "share:rw"

host_network: true
privileged: true
devices:
  - /dev:/dev

