name: Modbus Connected Home
version: "0.0.4"
slug: modbus_ch_dio
description: A custom Home Assistant Add-on to run a Python script.
icon: images/icon.png  # <-- ДОБАВЬ ЭТУ СТРОКУ! Путь к твоему логотипу
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
url: https://github.com/RauanYbrash/Modbus-Connected-Home.git # Здесь можешь указать ссылку на свой репозиторий, если есть
startup: application # Запускать как приложение
stage: stable
options: {}
schema: {}
init: false
map:
  - "config:rw" # Дает доступ к папке /config Home Assistant изнутри контейнера (если нужно)
  - "ssl:ro" # Дает доступ к сертификатам SSL (если нужно)
  - "share:rw" # Дает доступ к папке /share Home Assistant
  # Добавь другие папки, если твой скрипт должен к ним обращаться

# Указывает, какой Dockerfile использовать для сборки
build_from:
  aarch64: "ghcr.io/home-assistant/aarch64-base:3.15" # Базовый образ для aarch64
  amd64: "ghcr.io/home-assistant/amd64-base:3.15"   # Базовый образ для amd64
  armhf: "ghcr.io/home-assistant/armhf-base:3.15"   # Базовый образ для armhf
  armv7: "ghcr.io/home-assistant/armv7-base:3.15"   # Базовый образ для armv7
  i386: "ghcr.io/home-assistant/i386-base:3.15"     # Базовый образ для i386

# Путь к Dockerfile
build_config:
  squash: true

host_network: true # Скорее всего нужно, чтобы MQTT работал без проблем
# devices:
#   - /dev/ttyUSB0:/dev/ttyUSB0 
  
# Этот скрипт будет запускаться при старте контейнера
run: run.sh



